.parent {
  background-color: var(--off-white);
  height: 4rem;
  display: flex;
  flex-direction: row;
  color: black;
  align-items: center;
}

.list {
  display: flex;
  padding: 1em;
  list-style-type: none;
  font-weight: 600;
}

.list:hover {
  font-weight: 700;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .parent {
    height: 5rem;
  }
}
