:root {
  --green: #3fe79e;
  --dark: #0f0235;
  --off-white: #ffffff;
  --wood: #cc6600;
  --forest: #006600;

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  --font-size-sm: 0.5rem;
  --font-size-md: 1rem;
  --font-size-lg: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--off-white);
  background-color: var(--off-white);
  font-family: "Roboto", sans-serif;
  margin: 0px;
  /* height: 100%; */
}

h1 {
  color: var(--off-white);
  font-size: var(--font-size-lg);
}

p {
  font-size: var(--font-size-md);
}

p,
article,
section {
  line-height: 1.5;
}

:focus {
  outline: 0.15rem dashed var(--off-white);
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

img {
  max-width: 100%;
}
