.background {
  height: 500px;
  z-index: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.upperDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lowerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  z-index: 1;
  background: linear-gradient(0deg, #b3e6cc, #39ac73);
  border-radius: 5px;
}

.title {
  font-size: 4em;
  z-index: 1;
  border: 1px solid #000000;
  padding: 0.7em;
  width: 80%;
  text-align: center;
}

/* .slogan {
  text-align: center;
  font-size: 2em;
  z-index: 1;
  color: var(--off-white);
  border-radius: 8px;
  background-color: var(--forest);
  width: 60%;
  padding: 0.3em 0.1em 0.3em 0.1em;
  margin-top: 5rem;
  margin-left: 2.5rem;
} */

.lowerDivP {
  z-index: 1;
  width: 85%;
  padding: 0.6em;
  color: var(--off-white);
  border: 5px solid black;
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
}

.button {
  z-index: 1;
  width: 40%;
  padding: 0.5em;
  font-size: 0.9em;
  color: var(--off-white);
  cursor: pointer;
  border-radius: 8px;
  background-color: #000000;
  font-weight: 500;
}
.button:hover {
  border-color: var(--off-white);
}
