.background {
  height: 500px;
  z-index: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.upperDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lowerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  z-index: 1;
  background: #888684;
  border-radius: 5px;
  margin-left: 15rem;
  margin-top: 10rem;
  padding: 1em;
}

.title {
  font-size: 4em;
  z-index: 1;
  border: 1px solid #000000;
  padding: 0.7em;
  width: 60%;
  text-align: center;
}

.lowerDivP {
  z-index: 1;
  padding: 0.6em;
  color: var(--off-white);
  /* border: 5px solid black; */
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
  border-bottom: 5px solid black;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  width: 43%;
  text-align: center;
  padding: 0.6em 1.2em;
  font-size: 0.9em;
  color: #000000;
  cursor: pointer;
  border-radius: 60px;
  background-color: var(--off-white);
  font-weight: 400;
  border-color: #000000;
}
.button:hover {
  border-color: var(--dark);
  background: #b3ffb3;
  color: var(--dark);
}
