.layout {
  height: 100%;
  background-color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 50vh;
  margin: 9rem 25rem 9rem 27rem;
  border: 1px solid #595959;
  background-color: #80bfff;
  box-shadow: 2px 2px 3px 3px rgba(89, 89, 89);
}

.title {
  /* margin: 0.5rem; */
  color: #000000;
  font-size: 1.7em;
  padding: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
}

.label {
  color: #000000;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.input {
  margin-bottom: 1rem;
  padding: 0.7em;
  border: 1px solid black;
  border-radius: 3px;
}

.button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
  font-weight: 500;
  font-size: 0.8em;
  padding: 1em;
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
  width: 35%;
  cursor: pointer;
}

.button:hover {
  background-color: #888684;
  color: #ffffff;
}
